extends layout

block content
	h1= title
	p Welcome to our OCAPPA

	// Wrapper
	#wrapper

		#charInfo

			h2 Character Info
			p
				strong Author: 
				| <span id="charInfoName"></span>
				br
				strong Formes: 
				| <span id="charInfoFormes"></span>
				br
				strong Abilities: 
				| <span id="charInfoAb"></span>
				br
				strong Description: 
				| <span id="charInfoDesc"></span>



		h2 Character List
		#charList
			table
				thead
					th Author
					th Character Name
					th Delete?
				tbody
