extends layout

block content
	h1= title
	p Welcome to our OCAPPA

	// Wrapper
	#wrapper




		h2 Character List
		#charList
			table
				thead
					th Character Name
					th Author
					th Delete?
				tbody

		#charInfo
			h2 Character Info
			table
				tr
					td
						strong Character Name: 
					td
						| <span id="charInfoName"></span>
				tr
					td
						strong Formes: 
					td
						| <span id="charInfoFormes"></span>
				tr
					td
						strong Abilities: 
					td
						| <span id="charInfoAb"></span>
				tr
					td
						strong Description: 
					td
						| <span id="charInfoDesc"></span>
				tr
					td
						strong Author:
					td 
						| <span id="authorName"></span>



		h2 Add Character
		#addChar
			fieldset
				input#inputAuthor(type="text" placeholder="Author")
				br
				input#inputCharName(type="text" placeholder="Character Name")
				br
				textarea#inputFormes(placeholder="Formes" rows="10" cols="30")
				br
				textarea#inputAbilities(placeholder="Abilities" rows="10" cols="30")
				br
				textarea#inputDesc(placeholder="Description" rows="10" cols="30")
				br
				button#btnAddChar Add Character