extends layout

block content
	h1= title
	p Welcome to our test

	// Wrapper
	#wrapper

		#charInfo

			h2 Character Info
			p
				strong Author: 
				| <span id="charInfoName"></span>



		h2 Character List
		#charList
			table
				thead
					th Author
					th Character Name
					th Delete?
				tbody
