body {
  padding: 30px;
  font: 14px Ubuntu;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

#page
{
	margin: -40px 50px;
	padding: 5px 20px 50px;
	box-shadow: 0px 0px 7px #999;
	background: #fff none repeat scroll 0% 0%;
	position: relative;
}

#wrapper {
	padding-left:312px;
	position:relative;
}

#charList {
	margin:0 0 30px 0;
}
	#charList table {
		border-collapse:separate;
		border-spacing:1px;
		background:#CCC;
	}
		#charList table th {
			background:#EEE;
			font-weight:600;
			padding:10px 20px;
			text-align:center;
		}
		#charList table tbody {
			padding:0; margin:0;
			border-collapse:collapse;
			border-spacing:0px;
		}
			#charList table td {
				background:#FFF;
				padding:5px 10px;
				text-align:center;
			}

#charInfo {
	width:250px;
	position:absolute;
	top:0; left:0;
}
	#charInfo p {
		padding:15px;
		border:1px solid #CCC;
		background:rgba(80,120,255,0.05);
	}

fieldset {
	border:0;
	padding:0; margin:0;
}